<section class="grid gs">
  <h3 class="result">came to traveling</h3>
  <div class="row sm-gutter">
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/6324297/pexels-photo-6324297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/5589359/pexels-photo-5589359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2245436/pexels-photo-2245436.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/4353813/pexels-photo-4353813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/4553618/pexels-photo-4553618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/4356144/pexels-photo-4356144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/3889753/pexels-photo-3889753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/6791741/pexels-photo-6791741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/11039600/pexels-photo-11039600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2132126/pexels-photo-2132126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/14579361/pexels-photo-14579361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/7602068/pexels-photo-7602068.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2074109/pexels-photo-2074109.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2405101/pexels-photo-2405101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2147486/pexels-photo-2147486.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2387871/pexels-photo-2387871.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/13443168/pexels-photo-13443168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/12851482/pexels-photo-12851482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/5802052/pexels-photo-5802052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/17060852/pexels-photo-17060852/free-photo-of-maravilla-del-mundo-machu-picchu.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
    <article class="column p-2-4 t-3 m-4">
      <img class="about__img"
        src="https://images.pexels.com/photos/2303781/pexels-photo-2303781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
    </article>
  </div>
  <button type="button" class="btn-reset container-content__more btn-about">SEE MORE ...</button>
</section>
<section class="grid gs">
  <div class="row">
    <article class="column p-6 t-6">
      <div class="container-social">
        <h3 class="result">join the community on social</h3>
        <p class="container-product-content__info text-about">Lorem ipsum dolor sit amet,
          consectetur
          adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-text">JOIN GROUP</button>
      </div>
    </article>
    <article class="column p-6 t-6">
      <div class="container-social__img">
        <img class="container-social__img-face"
          src="https://images.pexels.com/photos/927629/pexels-photo-927629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">
      </div>
    </article>
  </div>
</section>