<section class="grid gs">
  <section class="container-profile__header">
    <h3 class="container-profile__header-heading">WHAT I DO</h3>
    <p class="container-profile__header-info">The new common language will be more simple and regular
      than.</p>
  </section>
  <section class="row">
    <article class="p-6 t-6 m-12">
      <div class="container-profile">
        <div class="container-profile__img container-profile__img--dedign">
          <i class="container-profile__img-icon fa-solid fa-code"></i>
        </div>
        <div class="container-profile-info">
          <h4 class="container-profile-info__heading">Web Design</h4>
          <p class="container-profile-info__text">The new common language will be more will be
            more simple and regular than. It will be more Occidental in fact.</p>
        </div>
      </div>
    </article>
    <article class="p-6 t-6 m-12">
      <div class="container-profile">
        <div class="container-profile__img container-profile__img--code">
          <i class="container-profile__img-icon fa-solid fa-tree"></i>
        </div>
        <div class="container-profile-info">
          <h4 class="container-profile-info__heading">Full Stack</h4>
          <p class="container-profile-info__text">The new common language will be more simple and
            regular than.</p>
        </div>
      </div>
    </article>
    <article class="p-6 t-6 m-12">
      <div class="container-profile">
        <div class="container-profile__img container-profile__img--app">
          <i class="container-profile__img-icon fa-brands fa-docker"></i>
        </div>
        <div class="container-profile-info">
          <h4 class="container-profile-info__heading">App Development</h4>
          <p class="container-profile-info__text">The new common language will be more simple and
            regular than.</p>
        </div>
      </div>
    </article>
    <article class="p-6 t-6 m-12">
      <div class="container-profile">
        <div class="container-profile__img container-profile__img--graphic">
          <i class="container-profile__img-icon fa-solid fa-ghost"></i>
        </div>
        <div class="container-profile-info">
          <h4 class="container-profile-info__heading">Graphic Design</h4>
          <p class="container-profile-info__text">The new common language will be more will be
            more simple and regular than. It will be more Occidental in fact.</p>
        </div>
      </div>
    </article>
  </section>
  <div class="container-profile__line"></div>
</section>
<section class="grid">
  <section class="row container-user">
    <article class="p-2-4 t-4 m-12 container-user-info">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Enabling_eCommerce-_Small_Enterprises%2C_Global_Players_%2839008130265%29_%28cropped%29.jpg/250px-Enabling_eCommerce-_Small_Enterprises%2C_Global_Players_%2839008130265%29_%28cropped%29.jpg"
        alt="" class="container-user-info__img">
      <h4 class="container-user-info__heading">JACK MA</h4>
      <p class="container-user-info__text">EnglishClub made our classes so fun and informative</p>
    </article>
    <article class="p-2-4 t-4 m-12 container-user-info">
      <img src="https://images2.thanhnien.vn/uploaded/tuyenth/2019_12_28/h4_HOGQ.jpg?width=500" alt=""
        class="container-user-info__img">
      <h4 class="container-user-info__heading">TZUYU</h4>
      <p class="container-user-info__text">EnglishClub made our classes so fun and informative</p>
    </article>
    <article class="p-2-4 t-4 m-12 container-user-info">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Elon_Musk_Royal_Society_%28crop1%29.jpg" alt=""
        class="container-user-info__img">
      <h4 class="container-user-info__heading">ELON MUSK</h4>
      <p class="container-user-info__text">EnglishClub made our classes so fun and informative</p>
    </article>
  </section>
</section>