<div class="grid gs">
  <section class="row">
    <article class="column p-3 t-12">
      <div class="footer-social">
        <img class="footer-social__logo" src="/images/logo/logo.png" alt="">
        <h4 class="footer-social__title">everything you need is here</h4>
        <div class="footer-social-media">
          <i class="footer-social-media__icon fa-brands fa-facebook-f"></i>
          <i class="footer-social-media__icon fa-brands fa-youtube"></i>
          <i class="footer-social-media__icon fa-brands fa-google"></i>
          <i class="footer-social-media__icon fa-brands fa-instagram"></i>
          <i class="footer-social-media__icon fa-brands fa-tiktok"></i>
        </div>
      </div>
    </article>
    <article class="column p-3 t-6 m-0">
      <div class="footer-info">
        <h3 class="footer-info__heading">CONTACT INFO</h3>
        <div class="footer-info__contact">
          <i class="footer-info__contact__icon fa-solid fa-phone"></i>
          <span class="footer-info__contact__text">Number: +84779526424</span>
        </div>
        <div class="footer-info__contact">
          <i class="footer-info__contact__icon fa-solid fa-envelope"></i>
          <span class="footer-info__contact__text">Email : hairipi100@gmail.com</span>
        </div>
        <div class="footer-info__contact">
          <i class="footer-info__contact__icon fa-solid fa-location-dot"></i>
          <span class="footer-info__contact__text">Address: Da Nang</span>
        </div>
        <input class="footer-info__message" placeholder="Message" type="text" name="" id="">
      </div>
    </article>
    <article class="column p-3 t-6 m-0">
      <div class="footer-support">
        <h3 class="footer-support__heading">SUPPORT</h3>
        <div class="footer-support-div">
          <ul class="footer-support-list">
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Contact us</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Market blog</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Help center</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Pressroom</a>
            </li>
          </ul>
          <ul class="footer-support-list">
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">About us</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Bussiness</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Project Manager</a>
            </li>
            <li class="footer-support-list__item">
              <a href="" class="footer-support-list__item-link">Sales</a>
            </li>

          </ul>
        </div>
      </div>
    </article>
    <article class="column p-3 t-0 m-0">
      <div class="footer-app">
        <h3 class="footer-app__heading">TRAVELING STORE</h3>
        <div class="footer-qr">
          <img class="footer-qr-code"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
            alt="">
          <img class="footer-qr-img" src="/images/qr/app.png" alt="">
        </div>
      </div>
    </article>
  </section>
  <section class="row">
    <article class="column p-12 t-12 m-12">
      <span class="footer-artist">
        Powered by
        <a href="" class="footer-artist__link">hai</a>
      </span>
    </article>
  </section>
</div>