<div class="grid gs">
  <section class="header-content">
    <div class="header-info">
      <h1 class="header-info__heading"><span>Explore</span> the world</h1>
      <h4 class="header-info__title">Discover where you belong</h4>
      <span class="header-info__line"></span>
      <p class="header-info__text">Lorem Ipsum is simply dummy text of the printing and
        typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when
        an unknown printer took a galley of type and scrambled it to make a type specimen book
      </p>
      <input class="btn btn--m" type="button" value="Get Started">
      <input class="btn btn--m btn-0" type="button" value="Learn more">
    </div>
    <div class="header-social">
      <span class="header-social__line"></span>
      <a href="" class="header-social-link">
        <i class="header-social__icon fa-brands fa-facebook"></i>
      </a>
      <a href="" class="header-social-link">

        <i class="header-social__icon fa-brands fa-youtube"></i>
      </a>
      <a href="" class="header-social-link">

        <i class="header-social__icon fa-brands fa-telegram"></i>
      </a>
      <span class="header-social__line header-social__line--style"></span>
    </div>

    <div class="header-search">
      <div class="header-search__list">
        <input class="header-search__list-input" type="text" name="" id="" placeholder="from">
        <input class="header-search__list-input" type="text" name="" id="" placeholder="to">
        <input class="header-search__list-input" type="text" name="" id="" placeholder="Since">
        <input class="header-search__list-input" type="text" name="" id="" placeholder="Until">
        <input class="header-search__list-input" type="button" name="" id="" value="Search">
      </div>
    </div>

  </section>
</div>